# ===========================
# Files to exclude from npm package
# ===========================

# Development dependencies
.github/
.idea/
.vscode/

test/
nodejs-x32/
tests/
coverage/
*.lcov

.env
*.log